body {
  background-color: bisque;
}

.main-div {
  width: 80%;
  height: 80%;
  margin-top: 3rem;
  margin-left: 2rem;
  text-align: center;
  background-color: aliceblue;
}

h1 {
  font-weight: bold;
}
